In [8]:
import cx_Oracle as cx

host_name  = 'localhost'
oracle_port = 1521
service_name = 'xe'
dsn_tns = cx.makedsn(host_name, oracle_port, service_name)

#데이터베이스 접속
conn = cx.connect('scott', 'tiger',dsn_tns)

cursor = conn.cursor()
sql= 'select * from employee where job  = :job'
cursor.execute(sql, job ='MANAGER')
for rs in cursor : 
    print(str(rs[0]),str(rs[1]), str(rs[2]), str(rs[3]))
    
#select : Count
cursor = conn.cursor()
sql = 'select count(*) from employee where job = :job'
cursor.execute(sql, job='MANAGER')
cnt = cursor.fetchone()
print("Count :", cnt[0])

#insert
sql_insert = 'insert into myuser values(:id, :name)'
cursor.execute(sql_insert, id='test4', name = '홍길동')
conn.commit()

cursor.close()
conn.close()

7566 JONES MANAGER 7839
7698 BLAKE MANAGER 7839
7782 CLARK MANAGER 7839
Count : 3

DatabaseError: ORA-00942: table or view does not exist

In [2]:
!pip install cx_Oracle

Collecting cx_Oracle
  Downloading cx_Oracle-8.1.0-cp37-cp37m-win_amd64.whl (210 kB)
Installing collected packages: cx-Oracle
Successfully installed cx-Oracle-8.1.0